body {
  font-family: fantasy;
  font-size: 50px;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/9112b576009313.5c5ca8e8c45c3.jpg");
   background-size: 160%;
   background-position: 50%;
}

#button {
  display: block;
  margin-left: 38%;
  margin-right: auto;
  margin-top: 1%;
  padding: 0;
  border: none;
  background: none;
}

#league {
  display: block;
  position: relative;
  left: 34%;
 
}

#result {
  height: 100px;
  width: 500px;
  display: block;
  margin: 40px;
  margin-left: 705px;
  margin-top: 60px; 
  position: relative;
  color: #ffffff;
  text-align: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
